@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1px;
}

@font-face {
  font-family: "ActOfRejection";
  src: local("ActOfRejection"),
    url("./assets/Font/Act_Of_Rejection.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/Font/Inter/Inter-VariableFont_opsz\,wght.ttf")
      format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/Font/Montserrat/static/Montserrat-ExtraBold.ttf")
      format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat-medium";
  src: local("Montserrat-medium"),
    url("./assets//Font/Montserrat/static/Montserrat-Medium.ttf")
      format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat-bold";
  src: local("Montserrat-bold"),
    url("./assets//Font/Montserrat/static/Montserrat-Bold.ttf")
      format("opentype");
  font-weight: 700;
}

.textShadow {
  text-shadow: 1px 1px 0 #000000ad, -1px -1px 0 #000000ad, 1px -1px 0 #000000ad,
    -1px 1px 0 #000000ad, 0 1px 0 #000000ad, 1px 0 0 #000000ad,
    0 -1px 0 #000000ad, -1px 0 0 #000000ad;
}
